.search-key {
  background-color: #5CCD98;
  color: #030B35;
  border: 0;
  text-align: 'right';
  height: 40px;
  width: 5%;
}
.search-key:focus {
  outline: none;
  background-color: #5CCD98;
}
.search-value {
  border: 0;
  width: 85%;
  height: 40px;
  padding-left: 20;
}
.search-value:focus {
  outline: none;
}
.search-button {
  background-color: #5CCD98;
  padding-top: 10px;
  border: 0;
  width: 9%;
  text-align: center;
  float: right
}
.search-button:hover {
  cursor: pointer;
}